*{
    font-family: 'Hi Melody', sans-serif;
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Nanum Pen Script', cursive;
}
body{
    width: 820px;
    height: auto;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(35, 132, 81);
    margin: auto;
    box-shadow: 10px 10px 10px 5px rgb(8, 67, 123);

}
#main{
    background-color: #ebf6f4;

}
#title{
    border: 2px solid rgb(35, 132, 81);
    background-image: linear-gradient(to right top, #ffffff, #6dffdd);
    width: 800px;
    height: 120px;
    margin: auto;
    border-radius: 5px;
}
#s_title{
    color: rgb(3, 36, 10);
    font-size: 60px;
    font-weight: 900;
    margin: 20px 0px 35px 0px;
}
#s_title2{
    color: rgb(3, 36, 10);
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}
main{
    font-size: 30px;
}
#photo{
    width: 800px;
    height: 400px;
}
.imp{
    font-size: 40px;
}
hr{
    width: 780px;
    border-color: rgb(35, 132, 81);
}
#a{
    color: red;
}
#b{
    color: rgb(0, 183, 49);
}
#c{
    color: rgb(4, 0, 255);
}
#d{
    color: rgb(255, 0, 255);
}